<%- include("partials/header"); -%>

<div class="level">
    <h1 class="title">Liste des SAVs</h1>   
    <input type="text" placeholder="Rechercher un SAV" id="searchbar" onkeyup="searchTable()" name="search">
</div>

<div class="table-container">
<table class="table is-bordered is-striped is-narrow is-hoverable" id='myTable'>
  <thead>
    <tr class="header">
      <th hidden>Id MongoDB</th> <!--To use it later-->
      <th>Nom de l'entreprise</th>
      <th>Numéro de téléphone 1</th>
      <th>Numéro de téléphone 2</th>
      <th>Mail</th>
      <th>Type</th>
      <th>Logo</th>
      <th>Action</th>
    </tr>
  </thead>

  
    <% companies.forEach(function(company){ %>
  
    <tr class="compName">
      <form action="/admin-edit" method="post" id="<%= company._id %>" enctype="multipart/form-data"> <!--Enctype to handle files-->
          <input type="text" value="<%= company._id %>" name="id" style="display: none">
          <td> <input name="name" class="readonly <%= company._id %>" type="text" value="<%= company.name %>" readonly style="border: none"> </td>
          <td> <input name="phone" class="readonly <%= company._id %>" type="number" value="<%= company.phone %>" readonly style="border: none"> </td>
          <td> <input name="phone2" class="readonly <%= company._id %>" type="number" value="<%= company.phone2 %>" readonly style="border: none"> </td>
          <td> <input name="mail" class="readonly <%= company._id %>" type="email" value="<%= company.mail %>" readonly style="border: none"> </td>
          <td> 
              <select style="display:none" name="type" class="selectTypeEdit input" id="selectOption">
                  <option value="hardware">Hardware</option>
                  <option value="computer">Computer</option>
                  <option value="phone">Phone</option>
                  <option value="computer phone">Computer phone</option>
                  <option value="hardware phone">Hardware Phone</option>
                  <option value="hardware computer">Hardware Computer</option>
                  <option value="hardware phone computer">Hardware Phone Computer</option>
              </select>
            <input id='<%= company.type %>' class="readonly <%= company._id %> selectInput" type="text" value="<%= company.type %>" readonly style="border: none"> 
          </td>
          <td> 
              <span class='fileInput' name="fileNames"> <%= company.filename %> </span> 
              <input type="file" class="fileEdit" id="newFile" style="display:none" name="newFile">
          </td>
      </form>
        <td>
              <button onclick="return valider()" class="button is-primary valider" style="display: none"  form="<%= company._id %>"  type="submit">Valider</button>
              <button onclick="return edit(this)" class="button is-primary editer">Editer</button> <!--'this' refers to the element that is contained in, so the button element -->
        </td>
        <td>
          <form method="post" action="/admin-delete" id="del<%= company._id %>">
            <input type="text" class="" value="<%= company._id %>" name="suppr" style="display: none">
            <button value="<%= company.name %>" class="button" type="submit" form="del<%= company._id %>"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
    </tr>
  
    <% }) %>
  
    <tr id="add" class="addForm" style="display: none;">
      <form action="/admin" method="post" enctype="multipart/form-data">
        <td><input class="input" type="text" placeholder="Nom Entreprise" name="name" required></td>
        <td><input class="input" type="number" placeholder="Numéro Téléphone" name="phone" required></td>
        <td><input class="input" type="number" placeholder="Numéro Téléphone" name="phone2"></td>
        <td><input class="input" type="email" placeholder="Adresse Email" name="mail"></td>
  
        <td>
          <select name="type" class="select input">
            <option value="hardware">Hardware</option>
            <option value="computer">Computer</option>
            <option value="phone">Phone</option>
            <option value="computer phone">Computer phone</option>
            <option value="hardware phone">Hardware Phone</option>
            <option value="hardware computer">Hardware Computer</option>
            <option value="hardware computer phone">Hardware Phone Computer</option>
          </select>
        </td>
        <td><input type="file" name="logo" id="logo" required></td> 
        <td> <input class="button is-primary is-outlined" type="submit" value="Ajouter" name="button"> </td>
      </form>
    </tr>
</table>
</div>


<div class="addComp">
  <input class="button is-primary is-outlined" type="button" onclick="return ShowAdd()" value="Ajouter une adresse">
</div>

<%- include("partials/footer"); -%>