<%- include("partials/header"); -%>

<div class="box">

<article class="message is-primary">
  <div class="message-body">
    <h1> <%= name %> </h1>
  </div>
</article>

<figure class="img-logo image">
  <img src="/upload/<%=filename%>" alt="<%=filename%>">
</figure>


<article class="message is-primary">
  <div class="message-header">
    <p class="p-company">Numéro de téléphone</p>
  </div>
  <div class="message-body is-size-2">
  <p class="p-company"><i class="fas fa-phone-square has-text-primary"></i> <%= phone %></p>
  </div>
</article>

<% if(phone2) { %>

  <article class="message is-primary">
     <div class="message-header">
      <p class="p-company">Numéro de téléphone</p>
     </div>

     <div class="message-body is-size-2">
      <p class="p-company"><i class="fas fa-phone-square has-text-primary"></i> <%= phone2 %></p>
     </div>
  </article>

<% } %>

<% if(mail) { %>

  <article class="message is-primary">
    <div class="message-header">
      <p class="p-company">Adresse Email</p>
    </div>

    <div class="message-body is-size-2">
      <p class="p-company"><i class="fas fa-at has-text-primary"></i> <%= mail %></p>
    </div>
  </article>

<% } %>
</div>

</div>

<%- include("partials/footer"); -%>