<%- include("partials/header"); -%>

<div class="hero is-large is-primary has-background">
  <img alt="sav-ordinateur" class="hero-background is-transparent" src="/img/sav1.jpg" />
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Un problème avec votre matériel ?
      </h1>
      <h2 class="subtitle">
        Retrouvez toutes les adresses des SAVs de vos marques préféré !
      </h2>
    </div>
  </div>
</div>

<!--MAILING LIST BY MAILCHIMP-->
<form action="https://myshopify.us17.list-manage.com/subscribe/post?u=70aaa778933e7a2da592705b2&amp;id=338d6708d1"  
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <div class="level" id="mc_embed_signup">

    <div id="mc_embed_signup_scroll" class="level-item has-text-centered">
      <label for="mce-EMAIL" class="subtitle">
       <h3 class="subtitle">
        Soyez informer des dernieres nouveautés :
       </h3>
      </label>
    </div>
    
    <div class="level-item">
      <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="Votre adresse email" required>
    </div>
    
    <div class="level-item has-text-centered">
      <input class="button is-primary is-medium" type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" >
    </div>
     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
         name="b_70aaa778933e7a2da592705b2_338d6708d1" tabindex="-1" value=""></div>
     <div class="clear">
     </div>
  </div>
</form>

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <h3 class="title">
        Qui voulez-vous contacter ?
      </h3>
    </div>
  </div>
  <!-- Right side -->
  <div class="level-right">
    <div class="field has-addons">
      <p class="control has-icons-left">
        <input class="input is-primary" type="text" placeholder="Rechercher un SAV" id="searchbar" onkeyup="search()" name="search"> <!--CALL SEARCH() AT EATCH KEYUP-->
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>
</nav>



<div>
   <h4>
  Afin de s’adapter aux besoins de tous, les SAV des marques et des enseignes vous donnent plusieurs options pour les contacter. 
  Et comme chaque problème à sa méthode de préférence, SAVbonjour.fr vous guide dans le moyen de prédilection selon votre problème 
  et vous fournit surtout toutes les options qui s’offrent à vous. Vous trouverez ainsi toutes les coordonnées pour contacter les services clients
   </h4> 
</div>


<hr>

<div>
  <div class="columns is-multiline">

<!--LOOP THROUGH MY DB-->
<% companies.forEach(function(company){ %>  

    <div class="column is-one-quarter displayNone">
      <div class="card card-equal-height" id="none">

        <div class="card-content">
          <h5 class="title">
            <img src="/upload/<%=company.filename%>" alt="logo-orange" class='logoimg'>
          </h5>
          <h5 class="has-text-centered compName"> <%= company.name %> </h5>
        </div>

        <a title="Voir les adresses de contact de <%= company.name %> " href="/company/<%= company.name %>"> 
          <footer class="card-footer">
            <h6 class="card-footer-item">
              <span>
                Voir les adresses
              </span>
            </h6>
          </footer>
        </a> 

      </div>
    </div> 
<% }) %>


  </div>
</div>
<%- include("partials/footer"); -%>