<%- include("partials/header"); -%>

<div class="has-text-centered">
  <h1>Liste des SAVs</h1>

<div class="control has-icons-left has-icons-right searchbar">
  <input class="input is-primary" type="text" placeholder="Rechercher un SAV" id="searchbar" onkeyup="search()" name="search">
  <span class="icon is-left">
    <i class="fas fa-search"></i>
  </span>
</div>

<div>
  <div class="columns is-multiline">

<% companies.forEach(function(company){ %> 

    <div class="column is-one-quarter displayNone">
      <div class="card card-equal-height" id="none">

        <div class="card-content">
          <p class="title">
            <img src="/upload/<%=company.filename%>" alt="logo-orange" class='logoimg'>
          </p>
          <p class="has-text-centered compName"> <%= company.name %> </p>
        </div>

        <a href="/company/<%= company.name %>"> 
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                Voir les adresses
              </span>
            </p>
          </footer>
        </a> 

      </div>
    </div> 
    
<% }) %>
  </div>
</div>
<%- include("partials/footer"); -%>